.votedOne {
  color: #7095f5;
  background-color: #e2e9fd !important;
  font-weight: 800;
  border: 3px solid #7095f5 !important;
}

.votedTwo {
  color: #f47070;
  background-color: #fce2e2 !important;
  font-weight: 800;
  border: 3px solid #f47070 !important;
}
